{% extends 'layout.html' %} {% block ourpage %}

<head>
  <link rel="shortcut icon" href="#" />
  <meta charset="UTF-8" />
  <title>Covid-19 Diagnosis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
</head>
<body>
  <div class="container">
    <form action="{{ url_for('predict') }}" method="POST">
      <center><h2>Coivd-19 Diagnosis Form</h2></center>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="first">First Name</label>
            <input type="text" class="form-control" placeholder="" name="First" />
          </div>
        </div>
        <!--  col-md-6   -->

        <div class="col-md-6">
          <div class="form-group">
            <label for="last">Last Name</label>
            <input type="text" class="form-control" placeholder="" name="last" />
          </div>
        </div>
        <!--  col-md-6   -->
      </div>

      <label for="newsletter">Other health conditions</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Fever" name="Fever" /> Fever
        </label>
        <label>
          <input type="checkbox" value="Lack of taste" name="Lack of taste" /> Lack of taste
        </label>
        <label>
          <input type="checkbox" value="Diabetes" name="Diabetes" /> Diabetes
        </label>
        <label>
          <input type="checkbox" value="Asthama" name="Asthama" /> Asthama
        </label>
      </div>

      <label for="newsletter">Record voice sample</label>
      <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
      </div>
      <div id="formats">Format: start recording to see sample rate</div>
      <p><strong>Recordings:</strong></p>
      <ol id="recordingsList"></ol>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
{% endblock %}
